@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-secondary: #f2f2f2;
  --foreground: #141414;
  --foreground-secondary: #666666;
  --primary: #141414;
  --golden: #ffa439;
}

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-primary: var(--primary);
  --color-golden: var(--golden);
}

/* for Auto Check the Browser Mode if Dark Mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "ClashGrotesk-Regular", sans-serif;
}

.footerDashLine {
background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='0.5%25' fill='none' stroke='%23333' stroke-width='1' stroke-dasharray='6%2c12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");}
.container-padding {
  @apply lg:px-[156px] md:px-[70px] px-[19.5px];
}
/* font Setup */
@font-face {
  font-family: "ClashGrotesk-Extralight";
  src: url("/fonts/ClashGrotesk-Extralight.woff2") format("woff2"),
    url("/fonts/ClashGrotesk-Extralight.woff") format("woff"),
    url("/fonts/ClashGrotesk-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashGrotesk-Light";
  src: url("/fonts/ClashGrotesk-Light.woff2") format("woff2"),
    url("/fonts/ClashGrotesk-Light.woff") format("woff"),
    url("/fonts/ClashGrotesk-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashGrotesk-Regular";
  src: url("/fonts/ClashGrotesk-Regular.woff2") format("woff2"),
    url("/fonts/ClashGrotesk-Regular.woff") format("woff"),
    url("/fonts/ClashGrotesk-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashGrotesk-Medium";
  src: url("/fonts/ClashGrotesk-Medium.woff2") format("woff2"),
    url("/fonts/ClashGrotesk-Medium.woff") format("woff"),
    url("/fonts/ClashGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashGrotesk-Semibold";
  src: url("/fonts/ClashGrotesk-Semibold.woff2") format("woff2"),
    url("/fonts/ClashGrotesk-Semibold.woff") format("woff"),
    url("/fonts/ClashGrotesk-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashGrotesk-Bold";
  src: url("/fonts/ClashGrotesk-Bold.woff2") format("woff2"),
    url("/fonts/ClashGrotesk-Bold.woff") format("woff"),
    url("/fonts/ClashGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashGrotesk-Variable";
  src: url("/fonts/ClashGrotesk-Variable.woff2") format("woff2"),
    url("/fonts/ClashGrotesk-Variable.woff") format("woff"),
    url("/fonts/ClashGrotesk-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
